.SearchBox {
	width: 96vw;
	height: 105px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

#SearchButton {
	flex-grow: 3;
	margin-top: 10px;
	margin-left: 2vw;
}
