.SearchBox {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#SearchButton {
	font-size: 1.75vmin;
	margin-left: 1.75vmin;
	background-color: rgb(119, 178, 189);
}
