.BusyPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgb(100, 100, 100, 0);
	color: rgb(50, 50, 50);
	backdrop-filter: blur(2px);
	z-index: 1000;
}

.Spinner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.SpinnerText {
	color: rgb(0, 0, 0);
	font-size: 3vmin;
	font-weight: bold;
}

.SpinnerImage {
	height: 10vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.SpinnerImage {
		animation: SpinnerImageSpin infinite 1s linear;
	}
}

@keyframes SpinnerImageSpin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
